.pageTitle {
  text-align: center;
  color: orange;
}

.caption {
  text-align: right;
}

.spaceAbove {
  display: flex;
  flex-direction: column;

}

.information {
  display: flex;
  align-items: center;
}